body {
    font-family: sans-serif;
    background-color: #001144;
    color: #FFFF00;
}

.row {
    text-align: center;
}

.btn {
    display: inline-block;
}

.tooltip {
    padding: 0px;
    margin: 0px;
    position: absolute;
    text-align: center;
    pointer-events: none;
}

.tooltip rect {
    stroke: steelblue;
    fill: #FFFFFF;
    opacity: 0.9;
}

.tooltip text {
    font: 12px sans-serif;
    fill: steelblue;
    font-weight: bold;
    pointer-events: auto;
}

#family-widget-container text {
    font-family: sans-serif;
    font-weight: bold;
    pointer-events: all;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

svg {
    background-color: #FFFFFF;
}

.node {
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    cursor: pointer;
}

.node circle {
}

.label text {
    font: 12px sans-serif;
    pointer-events: none;
}

marker {
    fill: lightsteelblue;
}

.link {
    pointer-events: none;
}

.link line {
    stroke-width: 1.5px;
    stroke: lightsteelblue;
}
