body {
    font-family: sans-serif;
    background-color: #001144;
    color: #FFFF00;
}

.row {
    text-align: center;
}

.btn {
    display: inline-block;
}

.tooltip {
    padding: 0px;
    margin: 0px;
    position: absolute;
    text-align: center;
    pointer-events: none;
}

.tooltip rect {
    stroke: steelblue;
    fill: #FFFFFF;
    opacity: 0.9;
}

.tooltip text {
    font: 14px sans-serif;
    fill: steelblue;
    font-weight: bold;
    pointer-events: auto;
}

svg {
    background-color: #FFFFFF;
}

.node {
    cursor: pointer;
}

.node circle {
}

.node text {
    font: 10px sans-serif;
}

marker {
    fill-opacity: 0.5;
    fill: steelblue;
}

.link {
    stroke-opacity: 0.5;
}

.link line {
    stroke-width: 1.5px;
    stroke: steelblue;
}
